<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>506656577476-0anb34lntk7d2l56hsdides4c6o30f9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506656577476-0anb34lntk7d2l56hsdides4c6o30f9t</string>
	<key>API_KEY</key>
	<string>AIzaSyAMU2rZtsxfxq4nQmRLpnsGd8JUByhDH30</string>
	<key>GCM_SENDER_ID</key>
	<string>506656577476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>RE.ZOBA</string>
	<key>PROJECT_ID</key>
	<string>project-6314829702911836104</string>
	<key>STORAGE_BUCKET</key>
	<string>project-6314829702911836104.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:506656577476:ios:cca8264745e566be</string>
	<key>DATABASE_URL</key>
	<string>https://project-6314829702911836104.firebaseio.com</string>
</dict>
</plist>