<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZOBA Quick Access.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ZOBA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>827827521CF837D600684CE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>827827691CF837D600684CE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>827827741CF837D600684CE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82EF3BDD1D056E3F00AC103C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
